h1 {
	font-size: 47px; 
	line-height: 50px;
	color: lightcoral;
	text-align: center;
	font-family: 'Kdam Thmor Pro', sans-serif;
}

h2 {
	font-size: 35px; 
	line-height: 50px;
	font-family: 'Bebas Neue', sans-serif;
	color: indianred;
	text-align: center;
	text-decoration-style: wavy;
}

p {
	font-size: 35px; 
	line-height: 62px;
	font-family: 'Antonio', sans-serif;
	color: darkslateblue;
}

p2 {
	font-size: 16px; 
	line-height: 30px;
	color: tomato;
	font-family:"Rubik Mono One", monospace;
}

p3 {
	font-size: 17px; 
	line-height: 30px;
	color: darkpink;
	font-family: 'Rubik', sans-serif;
}

body {
	background-color: mintcream;
}