/* Default styles (for minimized or smaller window size) */
body {
  background-color: yellow;
}

h1 {
  font-size: 70px;
  color: red;
  text-align: center;
  font-family: 'Monoton', sans-serif;
  margin-top: 45vh;
  margin-bottom: 0; /* Remove extra space at the bottom */
  line-height: 1.2;  /* Adjust line height to bring the words closer */
  visibility: visible;
}

h2 {
  font-size: 0; /* Hide the wishes message */
  visibility: hidden;
}

.birthday-gif {
  display: none; /* Hide GIF in minimized view */
}

/* When the screen is maximized or large */
@media screen and (min-width: 1024px) {
  body {
      background-color: lightpink;
  }

  h1 {
      font-size: 0; /* Hide the Happy Birthday message */
      visibility: hidden;
  }

  h2 {
      font-size: 60px;
      color: #800020;
      margin-top: 5vh;
      font-family: 'Caveat', cursive;
      text-align: center;
      visibility: visible;
  }

  .birthday-gif {
    display: block; /* Show GIF on the maximized screen */
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
}